/* Global CSS for mapper
// Arthur Wuterich
// 1-9-14
*/

*
{
    margin:0px;
    padding:0px;
}

body
{
}

hr
{
    clear:both;
    
    margin-top:5px;
    margin-bottom:5px;
    width: 100%;
    height:1px;
    
    background: #b7b7b7;
    background-color: #b7b7b7;
    border: 0px;
}

#application
{
    width:100%;
    height:100%;
    overflow: hidden;
    white-space: nowrap;
    position:absolute;
    min-width: 750px;    
}

#application *
{
    overflow: visible;
    white-space: normal;  
}

/* Positioning for the main box */
#map
{
    position: relative;
    height: 80%;
    width: 100%;
    margin: 50px 0px 0px 0px;
    cursor:crosshair;
}

#map #map_event_layer, #map .map_image
{
    position: absolute;
    top:0px;
    left:0px;
    z-index:1;
    width: 100%;
    height: 100%;
}

#map .map_image
{
    position: absolute;
    top:0px;
    left:0px;
    z-index:-2;
    width: 100%;
    height: 100%;    
    background-image:url('../image/default_image.jpg');
    background-color: #AAA;
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat:no-repeat;
}

#top_bar
{
    z-index:20;
    background-color: #EEE;
}

#options_menu input[type=range]
{
    clear:both;
    width:100%;
}

.small
{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    overflow: hidden;
}

.minus, .plus
{
    background-size: 100% 100%;
    background-position: center center;
}

.minus
{
    background-image:url('../image/minus.png');
}

.plus
{
    background-image:url('../image/plus.png');
}

#options_menu .light, #options_menu .dark, #options_menu .visible, #options_menu .invisible
{
    float:right;
    margin: 10px auto 0px auto;
    background-color: #FFF;
}

#options_menu .dark
{
    float:left;
    background-color: #000;
}

#options_menu .visible
{
    float:left;
    margin-top: 10px;
    border: 1px dashed #000;
    background-color:transparent;
}

#options_menu .invisible
{
    float:right;
}

.point_wrapper
{
    width:10px;
    height:10px;
    position: absolute;
}

.point
{
    width:8px;
    height:8px;
    position: relative;
    right:4px;
    bottom:4px;
    background-color: #FFF;
}

.point_circle
{
    border-radius: 50%;
}

#color
{
    margin-top:10px;
}

#color label
{
    margin-right:10px;
}

.color
{
    width:65px;
}

.cell
{
    width: 100px;
}

.center
{
    width: 100%;
    clear:both;
}

#size_range, #outline_size_range
{
    width:90%;
    clear:both;
}

#top_bar
{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 50px;
    border-bottom: 2px ridge #CECECE;
}

#top_bar .connect_box
{
}
#top_bar input
{
    margin: auto auto;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;  
}

#map_label
{
    display: inline;
    padding:15px;
    font-weight: bold;
    font-size: 20px;
    float:left;
}
#top_bar input.right
{
    margin-right: 5px;
    margin-left: 0px;
}

.right
{
    float:right;
}

.left
{
    float:left;
}

.no_select
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup
{
    position: absolute;
    z-index: 25;
}

#drawing_tool
{
    position:relative;
    overflow: hidden;
    white-space: nowrap;    
}

#top_bar #drawing_tool .point_wrapper
{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

#top_bar #drawing_tool .point_wrapper .point
{
    right:0px;
    bottom:0px;
}

#top_bar #drawing_tool
{
    margin: 5px 5px 5px 5px;
    
    height: 38px;
    width: 100px;
    float: right;
    
    border-radius: 2px;
    background-color: #CCC;

    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border: solid 1px #b7b7b7;    
}

#top_bar input[type=button]
{
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    zoom: 1;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);    
}

#top_bar input[type=button]:hover
{
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

#top_bar input[type=button]:disabled
{
    color: #A2A2A2;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top, #888, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');    
}

#drawing_tools h4
{
    width: 100%;
    text-align:center;
}

 .popup, #drawing_tools, #options_menu, #map_menu, #admin_menu
{
    padding:5px;
    
    color: #000;
    background-color: #EEE;

    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border: solid 1px #b7b7b7; 
}

#drawing_tools, #options_menu, #map_menu, #admin_menu
{
    position:absolute;
    z-index: 5;
    top: 50px;    
}

#drawing_tools
{
    right: 68px;
}

#options_menu
{
    right: 5px;
}

#admin_menu
{
    right:42px;
}

#top_bar #admin_menu #map_admin_background_url
{
    width: 90%;
}

#map_menu
{
    left: 463px;
}

#top_bar #map_menu input[type=button], #top_bar #admin_menu input
{
    float: none;
    display: block;
    width: 100%;
    margin: 5px;
}

#options_menu input, #map_menu input[type=button], #admin_menu input
{
    position: relative;
    right: 5px;
}

#admin_menu input
{
    right: 2px;
}

#point_color
{
    width: 70px;
}

#top_bar #drawing_tools .tool
{
    width:25px;
    height:20px;
    border-radius: 3px;
    background-image:url('../image/tool_icon.png');
    background-repeat:no-repeat;
    padding: 0px;
    margin
}

#top_bar #drawing_tools .dot
{
    background-position: -1px -1px;
    background-color:rgba(0,0,0,.2);
}

#top_bar #drawing_tools .square
{
    background-position: -26px -1px;
}

#top_bar #drawing_tools .round_square
{
    background-position: -51px -1px;
}

#top_bar #drawing_tools .h_line
{
    background-position: -76px -1px;
}

#top_bar #drawing_tools .v_line
{
    background-position: -101px -1px;
}

#top_bar #drawing_tools .cross
{
    background-position: -126px -1px;
}

#top_bar #drawing_tools .circle
{
    background-position: -151px -1px;
}

#top_bar #drawing_tools .delete
{
    background-position: -176px -1px;
}



















/* EOF */