/* Global CSS for mapper
// Arthur Wuterich
// 1-9-14
*/

*
{
    margin:0px;
    padding:0px;
}

body
{
}

hr
{
    clear:both;
    
    margin-top:5px;
    margin-bottom:5px;
    width: 100%;
    height:1px;
    
    background: #b7b7b7;
    background-color: #b7b7b7;
    border: 0px;
}

#application
{
    width:100%;
    height:100%;
    overflow: hidden;
    white-space: nowrap;
    position:absolute;
    min-width: 1015px;    
}

#application *
{
    overflow: visible;
    white-space: normal;  
}

/* Positioning for the main box */
#map
{
    width: 100%;
    margin: 75px 0px 0px 0px;
    cursor:crosshair;
}

/* Styles for the content in the main box */
#map .map_image
{
    position: relative;
    background-image:url('../image/map.jpg');
    background-size: 100% 100%;
    padding-bottom: 55%;
}

#top_bar
{
    background-color: #EEE;
}

#options_menu input[type=range]
{
    clear:both;
    width:100%;
}

#options_menu .light, #options_menu .dark, #options_menu .visible, #options_menu .invisible
{
    float:right;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    margin: 10px auto 0px auto;
    background-color: #FFF;
}

#options_menu .dark
{
    float:left;
    background-color: #000;
}

#options_menu .visible
{
    margin-top: 10px;
    border: 1px dashed #000;
    background-color:transparent;
}

#options_menu .invisible
{
    float:left;
}

.point_wrapper
{
    width:10px;
    height:10px;
    position: absolute;
}

.point
{
    width:8px;
    height:8px;
    position: relative;
    right:4px;
    bottom:4px;
    background-color: #FFF;
}

.point_circle
{
    border-radius: 50%;
}

#color
{
    margin-top:10px;
}

#color label
{
    margin-right:10px;
}

.color
{
    width:55px;
}

#top_bar
{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 50px;
    border-bottom: 2px ridge #CECECE;
}

#top_bar .connect_box
{
}
#top_bar input
{
    float:left;
    margin: auto auto;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;  
}

#map_label
{
    display: inline;
    padding:15px;
    font-weight: bold;
    font-size: 20px;
    float:left;
}
#top_bar input.right
{
    float:right;
    margin-right: 5px;
    margin-left: 0px;
}

.no_select
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup
{
    position: absolute;
    z-index: 10;
}

#drawing_tool
{
    position:relative;
    overflow: hidden;
    white-space: nowrap;    
}

#top_bar #drawing_tool .point_wrapper
{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

#top_bar #drawing_tool .point_wrapper .point
{
    right:0px;
    bottom:0px;
}

#top_bar #drawing_tool
{
    margin: 5px 5px 5px 5px;
    
    height: 38px;
    width: 50px;
    float: right;
    
    border-radius: 2px;
    background-color: #CCC;

    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border: solid 1px #b7b7b7;    
}

#top_bar input[type=button]
{
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    zoom: 1;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);    
}

#top_bar input[type=button]:hover
{
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

#top_bar input[type=button]:disabled
{
    color: #A2A2A2;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top, #888, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');    
}

 .popup, #drawing_tools, #options_menu, #map_menu
{
    padding:5px;
    
    color: #000;
    background-color: #EEE;

    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border: solid 1px #b7b7b7; 
}

#drawing_tools, #options_menu, #map_menu
{
    position:absolute;
    z-index: 5;
    top: 50px;    
}

#drawing_tools
{
    right: 68px;
}

#options_menu
{
    right: 5px;
}

#map_menu
{
    left: 464px;
}

#top_bar #map_menu input[type=button]
{
    float: none;
    display: block;
    width: 100%;
    margin: 5px;
}

#options_menu input, #map_menu input[type=button]
{
    position: relative;
    right: 5px;
}

#point_color
{
    width: 70px;
}






















/* EOF */